html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-spacing:0;border-collapse:collapse;}
caption,th{font-weight:normal;text-align:left;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,'Microsoft YaHei','Helvetica','sans-serif';color:#333;outline:0;}
body{background:#fff;}
a{color:#B0B0B0;}

/* head */
.head{width: 100%;height: 40px;line-height: 40px;background-color: #333;}
.head-box{width: 1226px;height: 40px;line-height: 40px;margin:0 auto;}
.head-box ul{list-style: none;}
.head-box ul li{float: left;height: 16px;}
.head-box ul li a{padding: 0 10px;}
.head-box ul li a:hover{color:#fff;}
.head-box ul li+li a{border-left:1px solid #4B4B4B;}
.headbox-right{float: right;font-size: 16px;}
.head-box-shopcar{color:#B0B0B0;width:90px;height:38px;float:right;padding:0 10px;margin-left:6px;text-align:center;cursor:pointer;}
.head-box-shopcar:hover{color:red;background-color:#fff;border-top:1px solid #333;border-bottom:1px solid #333;}

/* nav */
.nav{width:1226px;margin:0 auto;height:100px;line-height:100px;vertical-align: middle;}
.nav img{float:left;margin-top: 22px;}
.nav-list{list-style:none;height:100px;margin-left:180px;float: left;}
.nav-list-li{float:left;}
.nav-list-li a{color:#000;font-size: 16px;padding: 0 10px;}
.nav-list-li a:hover{color:#f00;}
.nav-second{overflow:hidden;}
.nav-second-list{display:none;position:absolute;z-index:12;left:0;right:0;top:140px;list-style:none;box-shadow:0 2px 6px 0 #f5f1f1;background-color:#fff;padding-left:200px;}
.nav-second-list li{float:left;padding:4px 12px;text-align:center;color:#000;cursor:pointer;}
.nav-second-list li+li{border-left:1px solid #eee;}
.nav-second-list img{font-size:0;overflow:hidden;margin-bottom:10px;}
.nav-second-list p{line-height:20px;}
p.price{color:orange;}
.nav-list1{float: left;list-style: none;}
.nav-list1 li{float: left}
.nav-list1 li a{color:#000;font-size: 16px;padding: 0 10px;}
.nav-list1 li a:hover{color:#333;}

.nav-btn{float:right;}
.nav-btn input {border:0;border:1px solid #ddd;height:24px;}
.nav-text{padding-left:8px;}
.srch{height:24px;border:0;line-height:24px;padding-left:3px;padding-right:3px;border-radius:2px;}
.srch:hover{background-color:#333;color:#fff;}

.main1{width:1226px;margin:0 auto;position:relative;}
.pic-wrap{height:462px;width:100%;}

.main1-nav{position:absolute;z-index:10;top:0;left:0;width:230px;height:100%;background-color:rgba(0,0,0,.7);color:#fff;}
.main1-nav-ul{list-style:none;height:100%;width:100%;margin-top:4px;}
.main1-nav .main1-nav-ul>li{padding:14px 16px;cursor:pointer;font-size:15px;width:86%;}
.main1-nav .main1-nav-ul>li:hover{background-color:orange;}
.main1-nav .main1-nav-ul>li:hover .main1-nav-list{display:block;}
.main1-nav .main1-nav-ul>li span{float:right;}
.main1-nav-list{display:none;background-color:#fff;position:absolute;top:0;left:230px;z-index:11;width:500px;top:0;bottom:0;padding:20px;border-top:2px solid #666;}
.main1-nav-list li{float:left;width:250px;height:40px;box-sizing:border-box;color:#000;font-size:14px;line-height:40px;margin:12px 0;padding-right:20px;}
.main1-nav-list li:hover{color:orange;}
.main1-nav-list li img{vertical-align:bottom;}
.main1-nav-list li span{border:1px solid red; border-radius:2px; color:red;height:16px;line-height:16px;padding:2px;margin-top:9px;}

.picList{width:1226px;margin:0 auto;height:173px;margin-top:24px;}
.picList>ul{list-style:none;display:flex;flex-flow:row nowrap;}
.picList>ul>li{height: 173px;}
.picList>ul>li a:hover{color:#fff;}
.picList>ul>li:hover{box-shadow: 0px 0px 8px 0 #333;}
.picList ul li.listicon{width:230px;height:173px;}
.picList li.listicon ul{list-style:none;height:175px;overflow:hidden;margin-top:-2px;margin-left:-2px;}
.picList li.listicon ul li{background-color:#333;width:75px;height:87px;float:left;margin:2px 0 0 2px;line-height:80px;text-align:center;}
.picList>ul li+li{flex:auto;margin-left:10px;}
.picList>ul li img{height:173px;width:auto;font-size:0;}

/*明星单品*/
.main2{width:1226px;height:422px;margin:0 auto;overflow:hidden;position: relative;}
.main2-head{padding:30px 0; font-size:22px;height:22px;line-height:22px;}
.main2-head h2{float:left;}
.main2-head .span-btn{float:right;}
.main2-head .span-btn span{display:inline-block;width:30px;height:22px;border:1px solid #eee;text-align:center;line-height:22px;cursor:pointer;}
.main2-head .span-btn span:hover{background-color:orange;}
#main2-wrap{overflow:hidden;width:2458px;height:340px;position: absolute;}
.main2-box{width:235px;height:100%;float:left;background-color:#fafafa;text-align: center;padding-top: 20px;cursor: pointer;}
.main2-box+.main2-box{margin-left:12px;}
.main2-box img{width:180px;height:auto;}
.main2-box p{line-height: 30px;font-size: 14px;color:#000;margin:10px 0;}
.main2-box .tuijian-box-t{margin-bottom: 20px;color:#888;}
.main2-box span{color:red;}
.border1{border-top: 2px solid orange;}
.border2{border-top: 2px solid #83C44E;}
.border3{border-top: 2px solid blue;}
.border4{border-top: 2px solid red;}
.border5{border-top: 2px solid green;}

.main3 li,.main3-tabcard-left,.dapei-content-left img,.reping-box{transition:all .5s ease;}
.main3 li:hover,.main3-tabcard-left:hover,.dapei-content-left img:hover,.reping-box:hover{transform:translate(0,-3px);box-shadow:4px 10px 15px rgba(0,0,0,0.1);}
.main3{width: 100%;background-color: #f5f5f5;margin-top: 60px;overflow:hidden;}
.main3-content{width: 1226px;margin:0 auto;}
.zhineng-head{margin-top:40px;color:#000;font-size:22px;overflow:hidden;}
.zhineng-head h2{float:left;}
.zhineng-head .lookmore{float:right;font-size:16px;color:#000;}
.zhineng-head .lookmore span{display:inline-block;margin-left:8px;width:18px;height:18px;border-radius:50%;background-color:#333;text-align:center;color:#fff;}
.zhineng-head .lookmore:hover span{background-color:orange;}
.main3-tabcard{width:100%;margin-top:16px;overflow:hidden;}
.main3-tabcard-left{width:234px;height:100%;float:left;font-size:0;}
.main3-tabcard-right{float:right;width:982px;height:100%;}
.main3-tabcard-right li{overflow:hidden;position:relative;width:234px;height:260px;text-align:center;float:left;background-color:#fff;margin-left:10px;padding:19px 0;cursor:pointer;}
.main3-tabcard-right .lim{margin-bottom:20px;}
.main3-tabcard-right li img{width:160px;height:auto;}
.main3-tabcard-right li span{position:absolute;top:0;display:inline-block;width:60px;height:20px;left:50%;margin-left:-30px;line-height:20px;color:#fff;}
.main3-tabcard-right li h3{font-size:16px;color:#000;}
.main3-tabcard-right li p{line-height:40px;}
.main3-tabcard-right li .price{color:red;}
.tabcard-tit-you{background-color:#ff6700;}
.tabcard-tit-new{background-color:#83c44e;}
.tabcard-tit-song{background-color:#2196f3;}
.tabcard-tit-zhe{background-color:#e53935;}

.dapei{width:1226px;margin:0 auto;overflow:hidden;margin-top:60px;}
.dapei .dapei-head{overflow:hidden;margin-bottom:16px;}
.dapei .dapei-head h2{float:left;font-size:22px;color:#000;}
.dapei-head-list{float:right;list-style:none;}
.dapei-head-list li{display:inline-block;margin:0 8px;font-size:16px;padding:2px 0;cursor:pointer;}
.dapei-head-list li.dapei-lion{border-bottom:2px solid orange;color:orange;}
.dapei-content-left {width:234px;float:left;}
.dapei-content-left img+img{margin-top:14px;}
.dapei-tab{display:none;}
.dapei-tab li{cursor:pointer;position:relative;}
.dapei-tab li .right-box-up{position:absolute;top:298px;padding:8px;background-color:#FF6700;height:60px;left:0;right:0;line-height:60px;transition:top 0.5s ease-in-out;color:#fff;}
.dapei-tab li .right-box-up .up-name{color:#333;}
.dapei-tab li:hover .right-box-up{top:222px;}
.dapei-tab li .right-box-up p{line-height:20px;}
li.last-more{height:100px;margin-bottom:15px;padding-top:22px;}
li.last-more img{float:right;width:80px;height:auto;}
li.last-more h3{margin-top:20px;}

/* 热评产品 */
.main-reping{width:1226px;margin:40px auto 0;overflow:hidden;}
.main-reping h2{font-size:22px;color:#000;line-height:20px;}
.reping-content{overflow:hidden;margin-top:16px;}
.reping-box{width:295px;height:420px;background-color:#fff;float:left;cursor:pointer;text-align:center;}
.reping-box+.reping-box{margin-left:15px;}
.reping-box img{width:295px;height:auto;}
.reping-box a{display:inline-block;padding:30px;text-align:left;line-height:20px;height:60px;}
.reping-t-price{color:red;}

/* foot */
.foot{width:100%;}
.foot-main,.bottom-main{width:1226px;overflow:hidden;margin:0 auto;}
.foot-main{padding-bottom:40px;}
.foot-head{font-size:24px;overflow:hidden;margin-top:50px;margin-bottom:30px;border-bottom:1px solid #ddd;}
.foot-head li{float:left;padding:10px 44px;text-align:center;}
.foot-head li+li{border-left:1px solid #ddd;}
.foot-content .content-left{float:left;}
.content-left>li{display:inline-block;margin-right:100px;font-size:14px;line-height:40px;}
.cont-right {text-align:center;float:left;line-height:38px;font-size:14px;border-left:2px solid #ddd;padding-left:40px;}
.cont-right-tel{color:#ff6700;font-size:18px;}
.cont-right span{border:1px solid #ff6700; color:#ff6700;padding:2px;font-size:12px;}

.bottom{background-color:#f5f5f5;width:100%;overflow:hidden;padding:40px 0;}
.bottomlogo{float:left;border-radius:4px;margin-right:10px;}
.bottom-list{overflow:hidden;float:left;}
.bottom-list li{display:inline-block;text-align:center;}
.bottom-list li+li{border-left:1px solid #000;color:#000;}
.bottom-list li a{color:#000;padding:1px 4px;}
.bottom-text{font-size:12px;overflow:hidden;float:left;}
.bottom-text a{color:#000;font-size:10px;line-height:30px;}
.bottom-pic{float:right;}
.bottom-pic li{display:inline-block;margin:6px;}
.bottom-pic li img{width:85px;height:28px;}